h1 {
    text-align: center;
    margin: auto;
}

#box {
    width: 200px;
    height: 300px;
    /* border: 1px black solid; */
    display: inline-block;
    margin: auto;
    align-items: center;

    
}

#button {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3.5em;
}


img {
    width: 200px;
    height: 200px;
    display: flex;
    align-self: center;
}


#middle {
    text-align: center;
    margin: auto;
    /* display: flex;
    align-content: center; */
}

#center {
    display: flex;
    align-self: center;
    margin: auto;
}
#form{
    margin: 100px;
}
#submit{
    display: flex;
    align-self: center;
    margin: auto;
}
#name{
    text-align: center;
}