h1 {
    text-align: center;
    margin: auto;
}

#box {
    width: 200px;
    height: 300px;
    /* border: 1px black solid; */
    display: inline-block;
    margin: auto;
    align-items: center;

    
}

#button {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3.5em;
    color: rgb(255, 81, 0);

}


img {
    width: 200px;
    height: 200px;
    display: flex;
    align-self: center;
}

#zoom {
    width: 300px;
    height: 300px;
    display: flex;
    align-self: center;
}

#middle {
    text-align: center;
    margin: auto;
    /* display: flex;
    align-content: center; */
}

#center {
    display: flex;
    align-self: center;
    margin: 50px;
}
#form{
    margin: 100px;
}
#submit{
    display: flex;
    align-self: center;
    margin: auto;
}
#name{
    text-align: center;
}

h4 {
    color: rgb(97, 97, 97);
    font-weight: bolder;

}

#logo {
    margin: auto;
    width: auto;
    height: 60px
}

#sublogo {
    margin: auto;
    width: auto;
    height: 25px;
}